<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4 d-none d-lg-block" style="height: 1000px;">
        <!-- Brand Logo -->
        <a class="brand-link ml-2 mr-2" href="#">
            <i class="fa fa-solid fa-stethoscope fa-2x"></i>
            <span class="brand-text font-weight-light">CMS</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="../../../assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a [routerLink]="['/receptionist']" class="d-block">{{cookieRecep.userName}}</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-item">
                        <a [routerLink]="['/receptionist/patient']" class="nav-link">
                            <i class="nav-icon fas fa-user-injured"></i>
                            <p>
                                Patient
                                <!-- <span class="right badge badge-danger">Smth</span> -->
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a (click)="showApp()" class="nav-link">
                            <i class="nav-icon fas fa-file-medical"></i>
                            <p>
                                Appointment
                            </p>
                        </a>
                    </li>
                    <li *ngIf="cookieRecep.permissions=='S'" class="nav-item">
                        <a [routerLink]="['/receptionist/doctor']" class="nav-link">
                            <i class="nav-icon fas fa-user-md"></i>
                            <p>
                                Doctor
                            </p>
                        </a>
                    </li>
                    <li *ngIf="cookieRecep.permissions=='S'" class="nav-item">
                        <a [routerLink]="['/receptionist/addReceptionist']" class="nav-link">
                            <i class="nav-icon fas fa-user"></i>
                            <p>
                                Receptionist
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/receptionist/report']" class="nav-link">
                            <i class="nav-icon fas fa-file"></i>
                            <p>
                                Reports
                            </p>
                        </a>
                    </li>
                    <!-- Remove Invoice Tab -->
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <!-- /.control-sidebar -->
    </aside>

</body>

</html>