<div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h4>{{ message }}</h4>
      <h5>{{ option1 }}</h5>
      <h5>{{ option2 }}</h5>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="delete()">{{ btnDeleteText }}</button>
      <button type="button" class="btn btn-info" (click)="decline()">{{ btnCancelText }}</button>
      <button type="button" class="btn btn-success" (click)="accept()">{{ btnOkText }}</button>
    </div>