<!-- <pm-login></pm-login> -->
<pm-about></pm-about>
<!-- <pm-error></pm-error> -->

<!-- <pm-doctor-dashboard></pm-doctor-dashboard> -->
<!-- <pm-search-patient></pm-search-patient> -->
<!-- <pm-add-appointment-doctor></pm-add-appointment-doctor> -->
<!-- <pm-add-prescription></pm-add-prescription> -->

<!-- <pm-receptionist-dashboard></pm-receptionist-dashboard> -->
<!-- <pm-add-patient></pm-add-patient> -->
<!-- <pm-add-appointment></pm-add-appointment> -->

<!-- <router-outlet></router-outlet> -->
