<!-- <pm-login></pm-login> -->
<!-- <pm-doctor-dashboard></pm-doctor-dashboard> -->
<!-- <pm-login></pm-login> -->

<!-- <pm-doctor-dashboard></pm-doctor-dashboard> -->
<!-- <pm-add-appointment-doctor></pm-add-appointment-doctor> -->

<!-- <pm-receptionist-dashboard></pm-receptionist-dashboard> -->
<!-- <pm-search-patient></pm-search-patient> -->
<!-- <pm-add-patient></pm-add-patient> -->
<!-- <pm-add-appointment></pm-add-appointment> -->
<!-- <pm-add-prescription></pm-add-prescription> -->

<router-outlet></router-outlet>
