<router-outlet></router-outlet>
<!-- <pm-login></pm-login> -->
<!-- <pm-error></pm-error> -->

<!-- <pm-doctor-dashboard></pm-doctor-dashboard> -->
<!-- <pm-search-patient></pm-search-patient> -->
<!-- <pm-add-appointment-doctor></pm-add-appointment-doctor> -->
<!-- <pm-add-prescription></pm-add-prescription> -->
<!-- <pm-about></pm-about> -->

<!-- <pm-receptionist-dashboard></pm-receptionist-dashboard> -->
<!-- <pm-add-patient></pm-add-patient> -->
<!-- <pm-add-appointment></pm-add-appointment> -->
<!-- <pm-print-invoice></pm-print-invoice> -->
<!-- <pm-add-doctor></pm-add-doctor> -->
<!-- <pm-add-receptionist></pm-add-receptionist> -->
<!-- <pm-about-us-receptionist></pm-about-us-receptionist> -->
