<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .mycard {
            height: 800px;
        }
    </style>
</head>

<body>
    <div class="mycard">
        <section class="vh-100" style="background-color: #9A616D;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-xl-10">
                        <div class="card shadow-lg" style="border-radius: 1rem;">
                            <div class="row g-0">
                                <div class="col-md-6 col-lg-5 d-none d-md-block">
                                    <img src="https://images.unsplash.com/photo-1470290378698-263fa7ca60ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"
                                        alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 0;" />
                                </div>
                                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                    <div class="card-body p-4 p-lg-5 text-black">

                                        <form>

                                            <div class="d-flex align-items-center mb-3 pb-1">
                                                <i class="fa fa-solid fa-stethoscope fa-2x"
                                                    style="color: #ff6219; font-size: 80px;"></i>
                                                <span class="h1 fw-bold mb-0">CMS</span>
                                            </div>

                                            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your
                                                account</h5>

                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="userName">Username</label>
                                                <input type="text" id="userName" name="userName"
                                                    class="form-control form-control-lg" [(ngModel)]="userName"
                                                    #id="ngModel" />
                                            </div>

                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="password">Password</label>
                                                <input type="password" id="password" name="password"
                                                    class="form-control form-control-lg" [(ngModel)]="password"
                                                    #id="ngModel" />

                                                <div class="text-danger" id="idValidation" *ngIf="idValidation">
                                                    Invalid Username or Password
                                                </div>
                                            </div>

                                            <div class="pt-1 mb-4">
                                                <button class="btn btn-dark btn-lg btn-block" type="submit"
                                                    (click)="login()">Login</button>
                                            </div>

                                            <a class="small text-muted" href="#!">Forgot password?</a>
                                            <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a
                                                    href="#!" style="color: #393f81;" [routerLink]="['/login/about'] ">Contact Us</a></p>
                                            <!-- TODO: ContactUs -->
                                            <a href="#!" class="small text-muted">Terms of use</a>
                                            <span>&nbsp;</span>
                                            <a href="#!" class="small text-muted">Privacy policy</a>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>

</html>