<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <!-- <div class="float-right d-none d-sm-inline">
            Any Text
        </div> -->
        <!-- Default to the left -->
        <strong>Copyright &copy; 2011-2022 
            <a href="https://github.com/MaryamJamal89/ClinicManagementSystem">AngularCourse</a>.
        </strong> All rights reserved.
    </footer>
    <!-- Footer -->
</body>

</html>